{
  "presets": [
    "env","react"
  ],
  "plugins": [
    // "react-hot-loader/babel",
    ["transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    "transform-decorators-legacy",
    "babel-plugin-transform-object-assign"
  ]
}
