@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6q1t5j');
  src:  url('../fonts/icomoon.eot?6q1t5j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6q1t5j') format('truetype'),
    url('../fonts/icomoon.woff?6q1t5j') format('woff'),
    url('../fonts/icomoon.svg?6q1t5j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_bottom_facebook_default:before {
  content: "\e900";
  color: #fff;
}
.icon-icon_bottom_facebook_selected .path1:before {
  content: "\e901";
  color: rgb(235, 162, 51);
}
.icon-icon_bottom_facebook_selected .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_bottom_sina_default:before {
  content: "\e903";
  color: #fff;
}
.icon-icon_bottom_sina_selected .path1:before {
  content: "\e904";
  color: rgb(235, 162, 51);
}
.icon-icon_bottom_sina_selected .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_bottom_sina_selected .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_bottom_sina_selected .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_bottom_sina_selected .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_bottom_weixin_default:before {
  content: "\e909";
  color: #fff;
}
.icon-icon_bottom_weixin_selected .path1:before {
  content: "\e90a";
  color: rgb(235, 162, 51);
}
.icon-icon_bottom_weixin_selected .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_bottom_weixin_selected .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_incubator_middle_finance:before {
  content: "\e90d";
  color: #fff;
}
.icon-icon_incubator_middle_hr:before {
  content: "\e90e";
  color: #fff;
}
.icon-icon_incubator_middle_profit:before {
  content: "\e90f";
  color: #fff;
}
.icon-icon_incubator_middle_studio:before {
  content: "\e910";
  color: #fefefe;
}
.icon-icon_news_facebook_default:before {
  content: "\e911";
}
.icon-icon_news_instagram_default:before {
  content: "\e912";
}
.icon-icon_news_instagram_selected .path1:before {
  content: "\e913";
  color: rgb(235, 162, 51);
}
.icon-icon_news_instagram_selected .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_news_sina_default:before {
  content: "\e915";
}
.icon-icon_news_twitter_default:before {
  content: "\e916";
}
.icon-icon_news_twitter_selected .path1:before {
  content: "\e917";
  color: rgb(235, 162, 51);
}
.icon-icon_news_twitter_selected .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_news_weixin_default:before {
  content: "\e919";
}
